<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar devolución</title>
</head>
<body>

    <h1>Registrar devolución</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Devolver
        </button>
    </form>

    <br>

    <a href="{% url 'prestaciones' %}">
        Volver
    </a>

</body>
</html>